@model InternshipPortal.Models.Job

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="createYazi">

    <h2>Create Job</h2>
</div>
    <div class="backList">
        <a asp-action="Index">Back to List</a>
    </div>




<div class="createJobBox">
    
    
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="createInputs">
                <input type="hidden" asp-for="UserIDCreate" id="userCreateID" />
                <span asp-validation-for="UserIDCreate" class="text-danger"></span>
            </div>

            <div class="createInputs">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" placeholder="Job Title" class="txtJobtitle" id="txtJobTitle" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="createInputs">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" placeholder="Company Name" class="txtCompany" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="createInputs">
                <label asp-for="Category" class="control-label"></label>
                @Html.DropDownList("Category",
                    new SelectList(Enum.GetValues(typeof(Category))),
                    "Select Category",
                    new { @class = "categoryList" })
                <span asp-validation-for="location" class="text-danger"></span>
            </div>

            <div class="createInputs">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" placeholder="Enter The Salary" class="txtSalary" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>

            <div class="createInputs">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" placeholder="Qualifications" class="txtDescription"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="createInputs">
                <label asp-for="location" class="control-label"></label>
                @Html.DropDownList("location",
                    new SelectList(Enum.GetValues(typeof(Location))),
                    "Select Location",
                    new { @class = "locationList" })
                <span asp-validation-for="location" class="text-danger"></span>
            </div>

            <div class="createInputs">

                <label asp-for="ContactEmail" class="control-label"></label>
                <textarea asp-for="ContactEmail" placeholder="Enter Contact Email" class="txtEmail"></textarea>
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>

            <div class="createInputs">


                <input type="submit" value="Create" class="btn btnSubmit" />
            </div>
        </form>
    </div>

    
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
