@{
    ViewData["Title"] = "About";
}
<section>
    <div class="container">
        <h1 class="heading">Meet Our Team</h1>
        <div class="card-wrapper">
            <div class="card">
                <img src="~/images/khas.jpg" alt="card backgroung" class="card-img">
                <!-- alt= komutu mouse resim üzerine geldiğinde yazacak bilgiyi belirtir-->
                
                <img src="~/images/apo.jpg" alt="abdullah" class="profile-img">
                <h1>Abdullah Cemal Yıldırım</h1>
                <p class="job-title">
                    Kadirhas University
                </p>
                <p class="about">Computer Engineer</p>  <!--kişi hakkında genel bilgiler-->
            </div>

            <div class="card">
                <img src="~/images/khas.jpg" alt="backgroung" class="card-img"> <!-- alt= komutu mouse resim üzerine geldiğinde yazacak bilgiyi belirtir-->
                ,<img src="~/images/pp.jpg" alt="profile image" class="profile-img">
                <h1>Eren Kutbay</h1>
                <p class="job-title">Kadirhas University</p>
                <p class="about">Computer Engineer</p>  <!--kişi hakkında genel bilgiler-->
            </div>

            <div class="card">
                <img src="~/images/khas.jpg" alt="backgroung" class="card-img"> <!-- alt= komutu mouse resim üzerine geldiğinde yazacak bilgiyi belirtir-->
                <img  src="~/images/image.jpg" alt="Sevdenur Akın" class="profile-img">
                <h1>Sevdenur Akın</h1>
                <p class="job-title">
                    Kadirhas University
                </p>
                <p class="about">Computer Engineer</p>
            </div>


            <div class="card">
                <img src="~/images/khas.jpg" alt="backgroung" class="card-img"> <!-- alt= komutu mouse resim üzerine geldiğinde yazacak bilgiyi belirtir-->
                <img  src="~/images/image.jpg" alt="Cem" class="profile-img">
                <h1>Cem</h1>
                <p class="job-title">
                    Kadirhas University
                </p>
                <p class="about">Computer Engineer</p>  <!--kişi hakkında genel bilgiler-->
            </div>


            <div class="card">
                <img src="~/images/khas.jpg" alt="backgroung" class="card-img"> <!-- alt= komutu mouse resim üzerine geldiğinde yazacak bilgiyi belirtir-->
                <img  src="~/images/image.jpg" alt="Ezgi Kızılray" class="profile-img">
                <h1>Ezgi Kızılray</h1>
                <p class="job-title">
                    Kadirhas University
                </p>
                <p class="about">Computer Engineer</p>  <!--kişi hakkında genel bilgiler-->
            </div>


        </div>
    </div>
</section>