@{
    ViewData["Title"] = "Home Page";
}

<div class="banner text-center">
    <h1> INTERNSHIPS AROUND YOU</h1>
    <p>Easy Way To Find Internship</p>


</div>

<div class="search-internship text-center">
    <input type="text" class="from-control" placeholder="search Keyword">
    <input type="text" class="from-control" placeholder="company">
    <input type="text" class="from-control" placeholder="location">
    <input type="button" class="btn btn-primary" value="Find Internship">
</div>

<section id="employers">
    <div class="container text-center">
        <h3> TOP EMPLOYERS</h3>
        <img src="~/images/facebook.png" />
        <img src="~/images/micro.png" />
        <img src="~/images/apple1.png" />
        <img src="~/images/Oracle-Logo.png" />
        <img src="~/images/amazon.png" />
    </div>
</section>
